<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Modelling 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120617

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Modelling by FCT</title>
<!--<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />-->
<!--<link href="style.css" rel="stylesheet" type="text/css" media="screen" />-->
<link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div id="wrapper">
	<div id="wrapper2">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Fiakumah's </a></h1>
				<p> with phlog's <a href="http://www.freecsstemplates.org">FCT</a></p>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#">Homepage</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Photos</a></li>
					<li><a href="#">Search blogs</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- end #header -->
		<div id="banner-wrapper"></div>
		<div id="page">
			<div id="content">
				<div class="post">
					<h2 class="title"><a href="#">Welcome to Fiakumah </a></h2>
					<p class="meta"><span class="date">june 17, 2012</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
								<div id = content>
									<a href = "/blog/posts/"> click here to view blogs</a>

									{%block content%}

									{%endblock%}
								</div>
					</div>
				</div>
			</div>
			<!-- end #content -->
			<div id="sidebar">
				<ul>
					<li>
						<h2>Blogroll</h2>
						<ul>
							<li><a href="http://www.facebook.com">Want to run away?</a></li>
							<li><a href="http://www.ug.edu.gh">The student</a></li>
							<li><a href="http://www.Afiday.herokuapp.com">The enterpreneur</a></li>
							<li><a href="http://www.i love girls.com">The family</a></li>
							<li><a href="http://www.hotgirls.com">The people i dislike</a></li>
							<li><a href="http://www.studyhacks.com">Doing stuff</a></li>
							<li><a href="http://www.Yale.com">Ambition</a></li>
							<li><a href="http://www.MitAItighana2012.com">My crappy friends</a></li>
							<li><a href="http://www.yahoo.com">I hate this time lool</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- end #sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page --> 
	</div>
</div>
<div id="footer-content-wrapper">
	<div id="footer-content">
		<div id="column1">
			<h2>Hello</h2>
			<ul>
				<li><a href="http://www.makemoney.com">No money</a></li>
				<li><a href="http://www.gmail.com">A day in the life</a></li>
				<li><a href="http://www.github.com/Fiakumah">The girls i like</a></li>
				<li><a href="http://www.youtube.com">The girls i would love to have</a></li>
				<li><a href="http://www.google.com">The money i need</a></li>
				<li><a href="http://www.ug.edu.gh">The university of gh</a></li>
			</ul>
		</div>
		<div id="column2">
			<h2>what to say</h2>
			<ul>
				<li><a href="#">why you should say it</a></li>
				<li><a href="#"> the songs i like</a></li>
				<li><a href="#">The money i want</a></li>
				<li><a href="#">My lectures</a></li>
				<li><a href="#">My lectures</a></li>
				<li><a href="#">Stuff that dont make sense</a></li>
			</ul>
		</div>
		<div id="column3">
			<h2>Who you should love</h2>
			<ul>
				<li><a href="#">Why you should love them</a></li>
				<li><a href="#">The hot girls</a></li>
				<li><a href="#">the hotter girls</a></li>
				<li><a href="#">Suspendisse iaculis mauris</a></li>
				<li><a href="#">Urnanet non molestie semper</a></li>
				<li><a href="#">Proin gravida orci porttitor</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="footer">
	<p>Copyright (c) 2012 Sitename.com. All rights reserved.  <a href="http://www.freecsstemplates.org">FCT</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
