{% extends "blog/base.html" %}
{% block  content %}
<p>
				<b>title </b>: {{post.title}}<br>
				<b>Created </b>: {{post.created}}<br>
				<b>LastUpdated </b>: {{post.updated}}<br>
				<b>body </b>:  {{post.body|slice:":60"}}<br>
<br><br><br>		
{% for c in comments %}
				<b>author </b>: {{c.author}}<br>
				<b>Created </b>: {{c.created}}<br>
				<b>LastUpdated </b>: {{c.updated}}<br>
				<b>Comment </b>: {{c.body}}<br><br>
				<div>
					<a href="/blog/comments/{{ c.id }}/edit">Edit Comment</a>
				</div>

		
					
		{% endfor %}		

		<h3>New comment:</h3>
				<div>
					<form method='post' action="">
						{{ form.as_p }}
						<input type='submit' name='Submit'>
					</form>
				</div>

</p>
{% endblock %}
